<%- include('layout/header'); -%>   
    
        <div class="MovieDiv1">
            <p class="MovieP1">Calendar Selection</p>
        </div>
        <div>
<div style="float:left"><input class="MovieIn" placeholder="Date Selected"> </input></div>
<div> <button type="button">Proceed</button>
</div>
</div>

<div >
    <section class="CalendarDiv">
    <p class="MovieP2"> Calendar</p>
    </section>
</div>    
</body>
<%- include('layout/footer'); -%>
