<%- include('layout/header'); -%>
    <h2>Login in </h2>
    <section class="signincustomer">
        <form name="mbs_loginForm" id="mbs_loginForm" method="Post" action="">
            <label>Username</label>
            <input placeholder="First Last" type="text" name="username"><br />
            <label>Password</label>
            <input type="password" name="password"><br />
            <input type="submit" value="Login">
            <input type="submit" value="Cancel">
        </form>
        <a href="../pages/registrationPage.html">If New User, Register Now!</a>
    </section>
</body>
<%- include('layout/footer'); -%>