<%- include('layout/header'); -%>        
        <div class="MovieDiv1">
            <p class="MovieP1">Movie Selection</p>
        </div>
        <div style="float:left"><input class="MovieIn" placeholder="search"> </input></div>
        <div> <button type="button">Proceed</button></div>

<div>
    <section class="MovieDiv2">
    <h2>Movie Selection</h2>
    </section>
</div>    
</body>
<%- include('layout/footer'); -%>
