<%- include('layout/header'); -%>
    <h2>Privacy Policy</h2>
    <section class="mbs_policy">
        <h3>Movie booking system: Guest Privacy Policy (the "Privacy Policy")</h3>
        <p><strong>Effective Date:</strong> "November 10, 2021</p>
        <p>
            At Movie booking system, we share your concerns about the privacy and protection of your personal
            information. This Privacy Policy describes the steps we have taken and our practices regarding the
            protection of your Personal Information (as defined below).
        </p>
        <p>This Privacy Policy applies to Movie booking system and its wholly owned subsidiaries, affiliates, and
            related entities (collectively, “Movie booking system” or “our”, “we”, or “us”). The contents of this
            Privacy Policy are intended to be read and understood in accordance and compliance with all applicable
            privacy laws, statutes, and regulations in the jurisdictions where Movie booking system operates.</p>
        <p>If you have not already done so, we encourage you to familiarize yourself with this Privacy Policy before
            using any Movie booking system website, automated kiosk, or application (collectively the "Applications”
            and/or
            “Websites"), purchasing Movie booking system products or services, applying for an employment opportunity
            with Movie booking system,
            or visiting our physical locations. The purpose of this Privacy Policy is to inform our visitors, guests,
            job applicants, customers and other individuals with whom we deal ("you" and "your") about how we collect,
            use, share and protect Personal Information. This Privacy Policy applies to the collection, use, sharing and
            protection of your Personal Information by Movie booking system. Your dealings with Movie booking system and
            all of its associated
            brands (Movie booking system , Movie booking system Odeon, Movie booking system Digital Media, Famous
            Players, Galaxy, SilverCity,
            StarCité, Colossus, Coliseum, Colisée, Scotiabank Theatre, Cinema City, Playdium, TopGolf Canada, and The
            Rec Room) are also governed by this Privacy Policy.</p>
        <p>Your use of our Applications and Websites is further governed under the applicable Terms of Use as indicated
            on such Applications and Websites.</p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>Definition of Personal Information</strong></p>
        <p>Personal Information is information about an identifiable individual including, without limitation,
            information such as your name, address, birth date, and personal contact information and other information
            as described below. It may also include other types of more technical information such as IP addresses,
            geolocation, device ID, or browsing history in connection with our Applications or Websites, but only when
            this information can identify you as an individual. Information that is aggregated and cannot be associated
            with an identifiable individual is not considered to be Personal Information.</p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>Personal Information We Collect Directly from You</strong></p>
        <p>Movie booking system and its employees, agents, contractors, service providers, partners and representatives
            may collect the following Personal Information that you provide to us directly:</p>
        <ul>
            <li>
                <strong>Contact Information</strong>
                (e.g. name, home address, home or mobile telephone number or e-mail address) that you may provide to us,
                for instance, when you create a Cineplex Account, make an inquiry or contact us in person or through our
                Applications or Websites, by telephone, email, SMS, social media, or any other means of electronic
                communication;
            </li>
            <li>
                <strong>Credit or Debit Card Information, including card number, expiry date and CVS/CVV code</strong>
                that you may provide to us, for instance, when purchasing theatre tickets or other products or services;
            </li>
            <li>
                <strong>Information relevant to a particular service you request</strong> that you may provide to us,
                for instance, when purchasing theatre tickets or other products or services;
                (e.g. the age and gender of a child or other person where you request our birthday party services);
            </li>
            <li>
                <strong>Survey Responses</strong>
                " (e.g. when you provide your name or other contact information in order to take part in a survey);"
            </li>
            <li>
                <strong>Preferences and other Personal Information provided by you through our Applications or
                    Website</strong>
                (e.g. including but not limited to local theatre preferences, favourite movie genres, movie reviews, and
                comments);
            </li>
            <li>
                <strong>Job Applications</strong>
                (e.g. information you provide to us when applying for an employment opportunity by sending us a resume
                or by submitting a job application). All Personal Information and Applicant Information provided by you
                and during the application process must be true, complete and correct to the best of your knowledge. Any
                misrepresentation or omission of facts may result in refusal to hire or, if hired, may result in your
                dismissal at any time regardless of when the false answer or omissions are discovered.
            </li>
        </ul>
        <p><strong>&nbsp;</strong></p>
        <p><strong>Personal Information We Collect Automatically</strong></p>
        <p>In some cases, we may collect information automatically which may not necessarily identify you as an
            individual. For instance, we may collect the following type of information:</p>
        <ul>
            <li><strong>Video Surveillance.</strong> As a security measure and in order to ensure the safety of our
                properties, we use video surveillance technology at our physical locations. This collection is subject
                to applicable privacy laws and may be shared only in limited circumstances, as detailed in the Sharing
                of Personal Information section of this Privacy Policy.</li>
            <li><strong>Traffic and Device Count.</strong> We may use cameras and other technologies (ex. anonymous
                video analytics and anonymous traffic analysis) at our physical locations or advertising installations
                to better understand traffic patterns and aggregate demographics about guests at our physical locations
                or about those who interact with our advertising installations. These practices allow us to track the
                number of individuals at a specific location and to understand some basic demographic information, such
                as gender and age, but these technologies do not personally identify or store photos or videos of
                individuals. We may also track devices which have communicated with our Wi-Fi systems, but such tracking
                is conducted without the storage of information that is personally identifying or specific to your
                mobile device (ex. MAC addresses). This information is collected for the purpose of improving our
                staffing and services. In some circumstances, we may share the aggregated statistical information
                compiled through the use of these technologies with our business partners, including advertisers.</li>
        </ul>
    </section>
</body>
<%- include('layout/footer'); -%>