<%- include('layout/header'); -%>
    <div >
        <div class="SeatDiv0">
            <p class="SeatP1">Seat Selection</p>
        </div>
        
    
        <div style="float:right">
            <button class="SeatBtn" type="button">Proceed</button>
        </div>
        
    </div>


    <h2>Seat Selection</h2>
    
    <aside style="float:left">
        <button class="SeatBtn1" type="button"></button>
    </aside>
    <aside style="float:left">
        <button class="SeatBtn2" type="button"></button>
    </aside>
    <aside styel="float:right">
        <button class="SeatBtn3" type="button"></button>
    </aside>
    <aside>
        <button class="SeatBtn4" type="button"></button>
    </aside>
</div>
</div>    
<<%- include('layout/footer'); -%>
