<%- include('layout/header'); -%>
    <div class="recipt">
        <p id="recipt"></p>
        <h3>Thank you for your purchase!</h3>
        <table>
            <tr>
                <th>Customer name</th>
                <td id="customerName">
                </td>
            </tr>
            <tr>
                <th>Movie name</th>
                <td id="movieName">
            </tr>
            <tr>
                <th>Ticket quantity</th>
                <td id="ticketquantity"></td>
            </tr>
            <tr>
                <th>Subtotal</th>
                <td id="subtotal"></td>
            </tr>
            <tr>
                <th>Tax</th>
                <td id="tax"></td>
            </tr>
            <tr>
                <th>Total</th>
                <td id="total"></td>
            </tr>
        </table>

    </div>
</body>
<%- include('layout/footer'); -%>