<footer>
    <nav class="footer_menu">
        <ul>
            <li>
                <a href="/ContactUs">Contact</a>
            </li>
            <li>
                <a href="/Policy">Policy</a>
            </li>
            <li>
                <a href="/AboutUs">About us</a>
            </li>
            <li>
                <a href="/TermOfUse">Terms of Use</a>
            </li>
        </ul>
    </nav>
    <div class="footer_p">
        <p>&copy; Presented By: M2SR </p>
    </div>
</footer>
</html>