<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../image/favicon.ico">
    <title>Movie Booking System</title>
</head>
<body>
    <header>
        <div class="icon_Left">
            <img src="../image/icon.png" alt="Icon" height="80" >
        </div>
        <nav class="navbar_Menu">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/TicketPage">Ticket</a>
                </li>
                <li>
                    <a href="/TheatreSelection">Theatre</a>
                </li>
                <li>
                    <a href="/ContactUs">Contact</a>
                </li>
                <li>
                    <a href="/Login">Account</a>
                </li>
            </ul>
        </nav>
    </header>